.fieldset {
    border: unset;

    display: flex;
    flex-direction: column;

    margin-bottom: 32px;
}

.labels {
    @media (max-width: 1023px) {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        flex-wrap: wrap;

        margin: -9px -10px;
        width: calc(100% + 20px);
    }
}

.label {
    padding-left: 36px;

    display: flex;
    align-items: center;

    height: 52px;
    border-bottom: 1px solid black;

    position: relative;

    cursor: pointer;

    &:first-of-type {
        border-top: 1px solid black;
    }

    > span {
        font-weight: 700;
        font-size: 16px;
        line-height: 14px;
        text-transform: uppercase;
    }

    &:hover .checkbox::after {
        background-color: #c4c4c4;
    }

    @media (max-width: 1023px) {
        &:first-of-type {
            border-top: unset;
        }

        > span {
            opacity: 0.3;
            white-space: nowrap;
        }

        border-bottom: unset;
        padding: 0;
        height: unset;
        margin: 9px 10px;
    }
}

.checkbox {
    position: absolute;
    left: 0;
    top: calc(50% - 10px);

    width: 20px;
    height: 20px;

    border: 1px solid #000000;

    &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 4px;

        width: 10px;
        height: 10px;

        background: #000000;

        opacity: 0;
    }

    @media (max-width: 1023px) {
        display: none;
    }
}

.input {
    display: none;

    &:checked + .checkbox::after {
        opacity: 1;
    }

    @media (max-width: 1023px) {
        &:checked ~ span {
            opacity: 1;
        }
    }
}

.legend {
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;

    margin-bottom: 17px;


    @media (max-width: 1023px) {
        font-size: 14px;
    }
}