.fieldset {
    border: unset;

    display: flex;
    flex-direction: column;

    margin-bottom: 32px;
}

.label {
    padding-left: 36px;

    display: flex;
    align-items: center;

    height: 52px;
    border-bottom: 1px solid black;

    position: relative;

    cursor: pointer;

    &:first-of-type {
        border-top: 1px solid black;
    }

    > span {
        font-weight: 700;
        font-size: 16px;
        line-height: 14px;
        text-transform: uppercase;
    }

    &:hover .checkbox::after {
        background-color: #c4c4c4;
    }
}

.checkbox {
    position: absolute;
    left: 0;
    top: calc(50% - 10px);

    width: 20px;
    height: 20px;

    border: 1px solid #000000;

    &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 4px;

        width: 10px;
        height: 10px;

        background: #000000;

        opacity: 0;
    }
}

.input {
    display: none;

    &:checked + .checkbox::after {
        opacity: 1;
    }
}

.legend {
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;

    margin-bottom: 17px;
}