.wrapper {
    padding: 0 0 90px;

    @media (max-width: 1023px) {
        padding: 10px 0 30px;
    }
}

.about {
    display: flex;

    @media (max-width: 1023px) {
        flex-direction: column;
    }
}

.infoBlock {
    > h3 {
        font-size: 20px;

        margin-bottom: 12px;
    }
}

.delivery,
.payment {
    margin-right: 5%;

    flex: 0 0 28%;
    max-width: 28%;

    @media (max-width: 1023px) {
        margin-right: 0;
        margin-bottom: 24px;
    
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.note {
    flex: 0 0 278px;
    max-width: 278px;

    margin-left: auto;
}

.delivery, .payment, .note {
    border-top: 1px solid black;
    padding-top: 17px;
}

.btnWrapper {
    > button {
        margin: 0 auto;
        max-width: 100%;
    }
}