 
.sneakersWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding-bottom: 40px;

    @media (max-width: 1439px) {
        padding-bottom: 20px;
    }

    @media (max-width: 1023px) {
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 0;
    }
}

.sneakersList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 20px;

    @media (max-width: 1023px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.card {
    flex: 0 0 20%;
    max-width: 20%;

    overflow: hidden;

    position: relative;

    > img {
        width: 100%;
        height: auto;

        transition: 0.5s opacity;
    }

    .gif {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        opacity: 0;
    }

    .image {
        opacity: 1;
    }

    &:hover {
        .gif {
            opacity: 1;
        }

        .image {
            opacity: 0;
        }
    }

    @media (max-width: 1023px) {
        flex: 0 0 auto;
        max-width: initial;
    }
}

.cardHover {
    > img {
        opacity: 0;
    }
}