.container {
    height: 60px;
    width: 100%;
    max-width: 356px;

    background: #000000;
    border: unset;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;

    cursor: pointer;

    font-family: var(--roboto-font);

    &.secondary {
        border: 1px solid #000000;
        background: unset;
        color: #000000;
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        background: #00000033;
    }

    @media (max-width: 1023px) {
        font-size: 14px;
    }
}

.linkWrapper {
    > a {
        height: 60px;
        width: 100%;
        max-width: 356px;

        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        font-family: var(--roboto-font);
        letter-spacing: 1px;
        text-decoration: none;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #000000;
        border-radius: 8px;
    }

    &.disabled {
        > a {
            pointer-events: none;
            cursor: default;
            background: #00000033;
        }
    }

    @media (max-width: 1023px) {
        > a {
            height: 18px;
            width: 60px;
            font-size: 8px;
            border-radius: 2px;
        }
    }
}

.small {
    height: 36px;
    width: 125px;

    @media (max-width: 1023px) {
        height: 18px;
        width: 60px;
        font-size: 8px;
        border-radius: 2px;
    }
}