.container {
    height: 199px;
    width: 100%;
    max-width: 1440px;

    padding: 20px 25px;

    margin: 0 auto;

    @media (max-width: 1439px) {
        padding: 20px 16px;
    }

    @media (max-width: 1023px) {
        height: auto;

        padding: 40px 20px;
    }

    @media (max-width: 374px) {
        padding: 24px 8px;
    }
}

.row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1023px) {
        flex-direction: column;
    }
}

.info {
    flex: 0 0 60%;
    max-width: 60%;

    @media (max-width: 1023px) {
        flex: 0 0 100%;
        max-width: 100%;

        margin-bottom: 30px;
    }
}

.socWrapper {
    flex: 0 0 278px;
    max-width: 278px;

    @media (max-width: 1023px) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.soc {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 26px;
    width: 108px;

    margin-bottom: 16px;

    > a {
        display: flex;
    }
}

.logo {
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #000000;

    margin-bottom: 13px;
    margin-top: 9px;
    display: block;
}

.desc {
    border-top: 1px solid #000000;
    padding-top: 20px;
}