.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000004f;
    z-index: 1000000;
  }
  
  .inner {
    background: white;
    padding: 36px 30px;
    position: relative;
    width: 100%;
    max-width: 480px;
    min-width: 340px;
    min-height: 370px;

    @media (max-width: 767px) {
      padding: 16px;
    }
  }
  
  .btnClose {
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
    background: unset;
    border: unset;
    font-size: 26px;
    line-height: 26px;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      top: 16px;
      right: 16px;
    }
  }
   
  
  @media (max-width: 767px) {
    .inner {
      width: 95%;
      min-width: 95%;
    }
  }