.form {
  min-width: 300px;

  > h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;

    margin-bottom: 12px;
  }

  > p {
    color: #0B0B0B;
    opacity: 0.5;

    margin-bottom: 16px;
  }

  @media (max-width: 767px) {
    > h2 {
      font-size: 20px;
      line-height: 20px;
      text-align: center;
    }

    > p {
      font-size: 12px;
    }
  }
}

.label {
  margin-bottom: 20px;
  display: block;

  > span {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
  }
}

.input {
  width: 100%;
  height: 40px;
  padding: 12px;
  display: block;
}

.error {
  max-width: 300px;
  min-height: 32px;
  margin-bottom: 12px;
}

.error span {
  color: #ff0000e0;
  font-size: 12px;
  line-height: 16px;
}

.succesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 230px;
  height: 330px;
}

.succesWrapper p {
  text-align: center;
  margin-bottom: 12px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ffa768;
  border-radius: 100%;
  margin: 0 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .form {
    min-width: 100%;
  }
}

.btnWrapper {
  > button {
      max-width: 100%;
  }
}